.alpha {
  width: 640px;
  height:300px;
  border: 5px black solid;
}
.row{
  border:dashed 5px black;
  background: white;
  margin-bottom: 5%; 
}
.col-sm-8 {
  text-align: center;
  display: inline-block;
  float: right;
}
.row {
  float: right;
}
h2 {
  color: black;
}
